body {
    background: #3b304a;
    font-family: 'Notable', sans-serif;
    color: #6b6278;
    text-shadow: 1.5px 1.5px black;
}


.search {
    position: absolute;
    top: 65%;
    transform: translate('50%, -50%');
    background:#b99ae6 ;
    height:50px;
    border-radius: 50px;
    padding: 10px;
    font-family: 'Permanent Marker', cursive;
    
}
