body {
    background: #afadb3;
    /* background: #3b304a; */
    font-family: 'Alegreya SC', serif;
    color:#47424f;
    /* color: #6b6278; */
    text-shadow: 1px 1px black;
}

.userSubmit {
    position: absolute;
    top: 10%;
    transform: translate('50%, -50%');
    background:#292c30;
    height:50px;
    border-radius: 50px;
    padding: 25px;
    font-family: 'Alegreya SC', serif;
}

.userPassword{
    position: absolute;
    top: 35%;
    transform: translate('50%, -50%');
    background:#292c30;
    height:50px;
    border-radius: 50px;
    padding: 25px;
    font-family: 'Alegreya SC', serif;
}

.search {
    
    position: ;
    /* text-align: center; */
    font-family: 'Alegreya SC', serif;
}

/* .searchCriteria {
    background-position: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
} */


.searchBar {
    position: absolute;
    top: 10%;
    transform: translate('50%, -50%');
    background: #292c30;
    height:50px;
    border-radius: 50px;
    padding: 25px;
    font-family: 'Alegreya SC', serif;
    
}

.nav{
    
    transform: translate('50%, -50%');
    background:#292c30;
    height:50px;
    border-radius: 50px;
    padding: 25px;
    font-family: 'Alegreya SC', serif;
    font-size: 20px;
    font: bolder;
}